/* Header styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f8f9fa; /* Couleur de fond */
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 60px; /* Ajuste la taille de l'image */
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; /* Espacement entre les liens */
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #007bff; /* Couleur au survol */
}