
/* Général */
.header {
    display: flex;
    justify-content: space-between; /* Place la logo à gauche et les liens à droite */
    align-items: center;
    padding: 0px 0px; /* Ajoute un padding pour l'espace interne */
    background-color: none;
    margin-left: 15px;
    margin-top:15px;
}

/* Logo */
.header .logo img {
    max-height: 50px; /* Ajustez la hauteur maximale du logo */
}

/* Navigation */
.nav-links {
    display: flex;
    gap: 40px; /* Ajoute un espace constant entre les liens */
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 25px;
}

/* Liens */
.nav-links li a {
    text-decoration: none; /* Supprime le soulignement par défaut */
    color: white; /* Texte blanc */
    font-size: 16px;
    font-weight: normal;
    transition: all 0.3s ease; /* Transition pour les effets */
}

/* Hover */
.nav-links li a:hover {
    text-decoration: underline; /* Ajoute un soulignement */
}

/* Lien actif */
.nav-links li a.active {
    font-weight: bold; /* Texte en gras */
    text-decoration: underline; /* Ajoute un soulignement */
    color: white; /* Couleur blanche conservée */
}