/* Page container */
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 25vh; */
}


.home_text{
    color: white;
    margin-top: -5vh;
}

.home_button{
    width: 25vw;
    height: 10vh;
    margin-top: -8vh;
    display: flex; /* Utilise flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    color: white; /* Texte blanc */
    font-size: 24px; /* Taille de la police */
    font-weight: bold; /* Texte en gras */
    opacity: 0.9; /* Opacité à 90% */
    border: 2px solid white; /* Bordure blanche */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5); /* Ombre blanche */
    transition: all 0.3s ease; /* Transition fluide */
    text-decoration: none;
    cursor: pointer;
}

.home_button a {
    text-decoration: none; /* Supprime le soulignement */
}
.home_button:hover {
    opacity: 1; /* Opacité à 100% */
    box-shadow: 0 6px 10px rgba(255, 255, 255, 0.8); /* Accentuation de l'ombre */
    transform: scale(1.05); /* Effet de zoom léger */
}
.home_img img {
    position: fixed;
    width: 70px; /* Taille des images */
    height: auto;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: relative; /* Pour que les images soient positionnées relatives à .home */
    height: 80vh; /* Hauteur de la page */
    width: 100%; /* Largeur de la page */
    overflow: hidden; /* Empêche les débordements */
}

.home_text,
.home_button {
    position: relative; /* Les éléments sont fixes et excluent les superpositions */
    z-index: 2; /* Assure que les images ne couvrent pas ces éléments */
}
