Info-box .info-box {
    width: 80%;
    max-width: 600px;
    background-color: white;
    color: #000;
    font-size: 18px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

h1, h2, p {
    text-align: center;
    line-height: 54.46px;
    font-weight: 400;
    color: #FFFFFF;
}

/* Container de la question */
.question-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #FFFFFF;
    border-radius: 20px;
    max-width: 545px;
    max-height: 231px;
    min-width: none;
    min-height: none;
    margin: 0 auto;
    background-color: rgba(176, 176, 176, 0.1);
}

/* Conteneur des réponses */
.reponse-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    gap: 1rem;
    background-color: rgba(176, 176, 176, 0.1);
}

/* Boutons */
.rep-button {
    display: inline-block;
    padding: 15px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.9;
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease;
    width: 150px;
    text-align: center;
}

/* Hover sur les boutons */
.rep-button:hover {
    opacity: 1;
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .reponse-container {
        flex-direction: column;
    }
}