/* Info-box */
.info-box {
    width: 80%; 
    max-width: 600px; 
    background-color: white; 
    color: #000; 
    font-size: 18px;
    text-align: center; 
    padding: 15px 20px; 
    border-radius: 8px; 
    margin-bottom: 30px;
}

/* Conteneur des réponses */
.reponse-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
}

/* Boutons */
.rep-button {
    display: inline-block;
    padding: 15px 30px; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.9;
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease;
    width: 150px;
    text-align: center;
}

/* Hover sur les boutons */
.rep-button:hover {
    opacity: 1;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .reponse-container {
        flex-direction: column; 
    }
}